.filtersRow {
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 800px) {
  .filtersRow {
    flex-direction: column;
    align-items: stretch;
  }
}
